body{
    background-color: #0a0a0a;
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
    margin: 0px;
}

#header{
    margin-top: 0px;
    padding-top: 1.5vh;
    background: #0a0a0a;
    z-index: 99;
    padding-bottom: 1vh;
}

h1{
    padding-top: 1.5vh;
    text-align: center;
    color: #f7f7f7;
    margin-top: 1.5vh;
    margin-bottom: 1vh;
    font-weight: lighter;
    font-size: 4em;
}

hr{
    border: 1px solid #5a5a5a;
}

.hr_line{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 600, from(#fff), to(#000));
}

#interactive_area{
    text-align: center;
}

#input{
    background-color: #5a5a5a;
    border: 1px solid transparent;
    line-height: 3.4vh;
    font-size: 2.5vh;
    text-align: center;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 0.5vh;
    width: 35vw;
    height: 3.5vh;
}

#user_input{
    line-height: 3.4vh;
    margin: auto;
    width: 3.4vw;
    height: 3.5vh;
    color: #fafafa;
    font-weight: 500;
    outline: none;
}

#at_symbol{
    color: #aaaaaa;
    font-weight: 600;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#buttons{
    padding-top: 0.8vh;
    padding-bottom: 1.5vh;
}

button {
    background-color: #e7e7e7; /* Green */
    border: none;
    color: black;
    padding: 0.5vh 2.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.8vh;
    font-weight: 500;
    width: 12vw;
    height: 3vh;
}

#process_user_result, #end_results_target{
    text-align: center;
    color: #fafafa;
}

#target{
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 1.5vh
}

#grid_invis{
    display: none;
}

#post{
    position: relative;
}

.main_image{
    position: relative;
    z-index: 5;
    left: 0px;
    max-width: 100%;
    max-height: 100%;
}


.blur_image {
    position: absolute;
    width: 150%;
    height: auto;
    left: -25%;
    top: -25%;
    z-index: -1;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    opacity: 0.3;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.7);
}

/* Modal Content/Box */
.modal_content {
    animation-name: zoom;
    animation-duration: 0.1s;
    margin: auto;
    z-index: 999;
}

.modal_content img{
    margin: auto;
    opacity: 1.0;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

#picture_data{
    font-weight: lighter;
    font-size: 1.9vh;
    color: #fafafa;
    opacity: 0.9;
}

#picture_data h4{
    margin-bottom: 0px;
}
#picture_data h5{
    font-size: 1.3vh;
    font-weight: lighter;
    margin-top: 0.5vh;
}
#picture_data a{
    color: inherit;
    font-size: inherit;
}

.cover {
    -webkit-animation: 2s show;
    -moz-animation: 2s show;
    -ms-animation: 2s show;
    animation: 2s show;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

}

@-webkit-keyframes show {
    from { opacity: 0 }
    to { opacity: 1 }
}
@-moz-keyframes show {
    from { opacity: 0 }
    to { opacity: 1 }
}
@-ms-keyframes show {
    from { opacity: 0 }
    to { opacity: 1 }
}
@keyframes show {
    from { opacity: 0 }
    to { opacity: 1 }
}

#footer{
    font-size: 1.6vh;
    margin-right: 1vw;
    text-align: right;
    color: #999999;
}
